# Copies publicly accessible containers from Docker Hub and GHCR to the private Artifact Registry.
# NOTE: Images from private-registry.nginx.com have to be copied manually to avoid JWT token leakage.
# yamllint disable rule:line-length
# spell-checker: disable
---
name: container-stager

# yamllint disable-line rule:truthy
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  packages: read

jobs:
  container-stager:
    runs-on: ubuntu-latest
    env:
      GCRANE_VERSION: 0.20.5
    steps:
      - uses: actions/checkout@v4
      - name: Install gcrane
        run: |
          sudo sh -c 'curl -fsSL https://github.com/google/go-containerregistry/releases/download/v${{ env.GCRANE_VERSION }}/go-containerregistry_linux_x86_64.tar.gz | tar xzf - -C /usr/local/bin crane gcrane'
          sudo chmod 0755 /usr/local/bin/*rane
      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          project_id: ${{ vars.PROJECT_ID }}
          token_format: access_token
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER_ID }}
      - id: gcrane_auth
        name: Authenticate to GHCR and private repos
        run: |
          gcrane auth login ghcr.io --username "${{ github.actor }}" --password "${{ github.token }}"
          gcrane auth login "$(echo "${{ vars.OCI_REGISTRY }}" | cut -d/ -f1)" --username oauth2accesstoken --password "${{ steps.auth.outputs.access_token }}"
      - name: Copy containers to private repo
        run: |
          gcrane cp ghcr.io/memes/terraform-google-private-bastion/forward-proxy:3.1.1 ${{ vars.OCI_REGISTRY }}/memes/terraform-google-private-bastion/forward-proxy:3.1.1
